# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.env/
.env

# IDE
.idea/
.vscode/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Data
data/*.json
data/
logs/

# macOS
.DS_Store
